#overflow{
	width: 970px;
    height: 275px;
    overflow: hidden;
	display:inline-block;
	vertical-align:middle;
}

#carousel{
	    padding-top: 5%;
    text-align: center;
}

#inner{
	width: 1820px;
    height: 200px;
	float:left;
	margin-left:0px;
}

#inner img{
	height: 222px;
    width: 140px;
	float:left;
}

.show1{
	display:block;
}

.hide{
	display:none;
}

#carousel a{
	display: inline-block;
    vertical-align: middle;
}

.fa-left{
	width:25px;
	position:absolute;
}

.fa-right{
		width:25px;
}