body{
    margin: 0;
    padding: 0;
	line-height: 1.3;
}

.show{
	display:block;
}

.clear{
	clear:both;
}

ul {
	margin: 0;
	padding: 0;
}

#mobile-topbar{
	display:none;
}

#mobile-topbar img{
	display: inline-block;
	padding: 4px;
}

#mobile-topbar-img{
	display: inline-block;
    padding-left: 10px;
    margin-left: 14px;
    border-left: 1px solid #ccc;
}

.mob-navbar{
	display:none;
}

#header{
	margin: 0 auto;
    display: table;
}

#matchsummary{
	color: #737373;
    font-family: arial;
    font-weight: bold;
    font-size: 12px;
	display: table-cell;
}

#matchsummary p{
	    float: left;
    padding-right: 14px;
    padding-left: 17px;
        padding-top: 8px;
    padding-bottom: 6px;
    border-right: 1px solid #2C2C2C;
    margin: 0;
}

#matchsummary img{
	 vertical-align: baseline;
}

#matchsummary-img{
	display: inline;
    padding: 0 12px 0 12px;
}


.topsponsors p{
	color: white;
    font-family: arial;
    font-size: 0.65em;
    font-weight: bold;
    float: left;
    vertical-align: middle;
    text-decoration: none;
    padding-left: 19px;
    padding-right: 19px;
    margin: 0px;
    padding-top: 14px;
    padding-bottom: 10px;
    margin-bottom: -4px;
	border-right: 1px solid #2C2C2C;
	border-left: 1px solid #2C2C2C;
}

.topsponsors a{
	text-decoration:none;
	color: white;
}


#ts{
	float:left;
	padding-left: 10px;
    padding-right: 10px;
}

#ts img{
	margin-bottom: -8px;
	border-right: 1px solid #2C2C2C;
	margin-right: 10px;
}


#wrapper{
	background-color:#000000;
	min-height: 35px;
}

#header2{
	text-align:center;
}

#header2 ul{
	list-style: none;
	display:inline-block;
	vertical-align: top;
	margin-left: 5.1%;
    padding-top: 0.4%;
}

#header2 ul li a{
	text-decoration:none;
	font-size: x-small;
	font-family:arial;
	color:#666666;
}

#header2 ul li a:hover{
	color:black;
}

#header2 ul li{
	float:left;
	padding-left: 10px;
    padding-right: 10px;
	border-right: 1px solid #CCD1D1;
}

.rightbaritems{
	padding-left:7px;
	/*border-right: 1px solid #CCD1D1;*/
	font-weight:bold;
	color: blue !important;
}

.dropdowns {
	display: table;
    margin: 0 auto;
	padding-top: 12px;
	clear:both;
}

.dropdowns ul li{
	float:left;
	list-style:none;
	text-decoration:none;
	margin-left:28px;
}

.dropdowns ul li a{
	text-decoration: none;
    color: #666666;
    font-family: arial;
    font-size: 0.75em;
	display: block;
	/*margin: 15px;*/
	padding-bottom: 15px;
}

.dropdowns ul li a:hover{
	text-decoration: none;
    color: black;
}

.left{
	float: left;
    border: 1px solid #CCD1D1;
    width: 310px;
	border-left: none;
    border-top: none;
}

.left ul{
	margin: 0;
	padding: 0;
}

.left ul li{
	float:none !important;
    font-size: 17px !important;
	/*padding:10px;*/
	padding: 8px 10px 0px 10px;
	border-bottom: 1px solid #CCD1D1;
	margin: 0px;
}

.left ul li a{
	display:inline-block;
	margin:0px;
}

.right{
	float:left;
    width: 600px;
	height: 327px;
	font-family: oswald;
    color: #333333;
	/*border: 1px solid #CCD1D1;*/
}

.dropdown-content {
	display: none;
    position: absolute;
    border: 1px solid #CCD1D1;
    width: 912px;
    left: 51%;
    transform: translateX(-50%);
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    background-color: #FFFFFF;
    z-index: 5;
}

.dropdown-content.active {
	display: block;
}


.left li:hover{
	background-color:#EEEEEE;
}

#searchdiv{
	/*margin-top: 14px;*/
	    margin: 14px -6px 0px -5px;
    background-color: #F2F2F2;
    height: 114px;
	display:none;
} 

#search{
	border: none;
    font-size: 2.5em;
    font-weight: normal;
    padding: 40px 143px 34px 18px;
    margin-left: 206px;
    width: 68%;
    border-radius: 4px;
    height: 34px;
    margin-top: 18px;
}

#searchbutton{
	background-color: #0255A5;
    border: none;
    border-radius: 2px;
    color: white;
    margin-left: -171px;
    font-size: 0.7em;
    min-width: 115px;
    font-weight: bold;
    margin-top: 16px;
    padding: 12px 20px;
	position: relative;
    bottom: 13px;
}

#highlightsbanner ul{
	margin:0;
	padding:0;
}

.banner img{
	width:33.33%;
	height:264px;
	float:left;
}

#mobile-calendar{
	display:none;
	border: 1px solid #e6e6e6;
    margin: 17px;
    border-top: 2px solid #0255a5;
}

#mobile-calendar  li{
	list-style:none;
	padding: 15px;
    background-color: #F6F6F6;
    border-bottom: 1px solid #e6e6e6;
}

#mob-cal-header{
	margin: 9px 9px 3px 9px;	
}

#mob-cal-header a{
	text-decoration: none;
    color: #666666;
    font-family: arial;
	
}

.schedule-header strong{
	float:left;
	font-weight: normal;
	font-size: small;
}

.schedule-header time{
	float:right;
}

.schedule-teams{
	clear:both;
}

.schedule-teams-logo{
	display: inline-block;
}

.schedule-teams-name{
	display: inline-block;
    vertical-align: bottom;
}

.schedule-teams-name strong{
	font-weight:normal;
	color: #666666;
	display:block;
}

#fixture{
	width: 960px;
    margin: 0 auto;
    background-color: #F6F6F6;
    border: 1px solid #D9D9D9;
    margin-top: -81px;
    position: relative;
}


#matchday-details{
	    text-align: center;
    margin-top: -17px;
}

#fl{
	width: 66%;
	font-family:arial;
	color:#565656;
	font-weight:bold;
	font-size:0.8em;
	float:left;
}

#fr{
	width: 33%;
	margin-left: 634px;
    border-left: 1px solid #D9D9D9;
}

#bef::before{
	content: "\00b7";
	padding-left: 4px;
    padding-right: 4px;
}

#f1p{
	color: #777777;
	font-weight:bold;
	font-size: 1.1em;
    padding-top: 14px;
}

#f1p p{
	font-weight: normal;
    color: #777777;
    font-size: 1.1em;
    padding-bottom: 15px;
        text-align: center;
}

#teams{
	    max-width: 633px;
}

#leftteam{
	width:50%;
	float:left;
}

#leftteam-details{
	    text-align: center;
}

#leftteam p{
	/*position: relative;
    top: 67px;
    left: 51px;*/
	display:inline-block;
}

#leftteam img{
    /*float: right;
	margin-top: -30px;
    margin-right: 34px;*/
}

#rightteam{
	width:50%;
	float:right;
}

#rightteam-mobile{
	display:none;
}

#rightteam p{
	/*position: relative;
    top: 67px;
    left: 193px;*/
	display:inline-block;
}

#rightteam img{
	/*
	margin-top: -30px;
    margin-left: 30px;*/
}

#rightteam a p{
	position: relative;
	top: 42px;
	left: 60%;
}

#rightteam a{
	text-decoration:none;
	color: #2982C0;
	font-size: 12px;
}

#teamsp{
	color:grey;
	font-weight:normal;
	font-size:11px;
}

#fixture-time p{
	display: inline-block;
    padding-left: 10px;
}

#fixture-time a{
	float:right;
	    padding-right: 10px;
}

#share{
        clear: both;
    padding-top: 30px;
}

.fixtures-share{
    float: left;
    padding-right: 6px;
    position: relative;
    bottom: -2px;
    left: 17px;
}

#share p{
    float: left;
    padding-left: 20px;
    padding-right: 10px;
}

#share ul li{
	list-style:none;
	float:left;
}

.sharebar{
	display:none;
}

.sharebar.active{
	display:block;
}

.section{
	max-width: 960px;
    margin: 0 auto;
    margin-top: 38px;
}

#leftrow{
	width:66.66%;
	float:left;
}

#newstopheading {
	font-family:arial;
}

.news{
	width:46.8%;
	border: 1px solid #D9D9D9;
	float:left;
	border-top: 2px solid #0255a5;
}

.news-margin{
	margin-left:25px;
}

.news:hover{
	opacity: 0.7;
}

#stuff a{
	text-decoration:none;
}

.sharenews{
	font-family: arial;
    color: #565656;
    font-weight: bold;
    font-size: 0.9em;
    bottom: -8px !important;
	/*padding-bottom: 39px;*/
}

.sharebar1{
	    padding-left: 18%;
    display: inline-block;
    /* padding-top: 0%; */
    margin-bottom: -6px;
}

.sharebar1 li{
	list-style:none;
	float:left;
}

.share1, .share2, .share3, .share4{
	display:none;
}

.share1.active, .share2.active, .share3.active, .share4.active{
	display:block;
}

.newshead{
	font-family:arial;
	padding-bottom: 10px;
	color:#999999;
	font-weight:bold;
	display:block;
	padding: 10px 10px 0px 13px;
}

.content{
	text-transform: uppercase;
    color: #333333;
    font-family: oswald !important;
	padding: 0px 10px 0px 12px;
    font-weight: normal;
}

.newscontent{
	color: #666666;
    font-family: arial;
    padding: 0px 14px 0px 14px;
	margin-bottom: 5px;
}

#rightrow{
	width: 33.33%;
    float: left;
	border: 1px solid #e6e6e6;
}

#calendar a{
	text-decoration:none;
	color: #666666;
	font-family:arial;
}

#calendar{
	padding-bottom: 16px;
    border-bottom: 1px solid #e6e6e6;
}

#calendar p{
	margin: 0;
    margin-left: 55px;
    font-size: 0.88em;
}



#rightrow ul li{
	list-style: none;
    font-family: arial;
    font-size: 0.86em;
    padding: 15px;
    border-bottom: 1px solid #e6e6e6;
}

.calendarp{
	display: table;
}

#rightrow a{
    text-decoration: none;
    color: #666666;
}

.tick {
    text-align: end;
	color:blue;
}

.clear{
	clear:both;
}

#legends{
	padding-top: 4%;
    padding-bottom: 3%;
	background-color: #EBEBEB;
    height: 425px;
	margin-top: 4%;
	text-align:center;
}

.legend{
	border: 1px solid #e6e6e6;
    float: left;
	margin-right: 20px;
}

#legends img:hover{
	opacity:0.6;
}

.legend{
	text-align:center;
	background-color:white;
	font-family:arial;
	font-size:inherit;
	color:#666666;
}

.leg{
	font-family:oswald;
	color:#333333;
	padding-top: 16px;
}

#mobile-legends{
	display:none;
	padding-top: 4%;
    padding-bottom: 3%;
	background-color: #EBEBEB;
    height: 375px;
	margin-top: 4%;
}

.mobile-legend{
	border-top: 2px solid #8C7E44;
	background-color: white;
    height: 172px;
	color: #333333;
    font-size: initial;
    margin-bottom: 10px;
}

#mobile-legend-in{
	padding-left: 10px;
    padding-right: 10px;
}

.legend-image{
	display: inline-block;
    float: left;
	    padding-right: 30px;
}

#mobile-specialfeatures{
	display:none;
	padding-top: 4%;
    padding-bottom: 3%;
	background-color: #1E1E1E;
    height: 375px;
}

.mobile-specialfeatures{
	background-color: white;
    height: 120px;
	color: #333333;
    font-size: initial;
    margin-bottom: 10px;
}

#specialfeatures{
	background-color:#1E1E1E;
	height: 500px;
	padding-top: 59px;
    padding-bottom: 39px;
	text-align:center;
}

#sf{
	color: #666666;
    font-family: arial;
    text-align: center;
    /* font-weight: bold; */
    font-size: 1.3em;
	padding-bottom: 20px;
}

#specialfeatures img:hover{
	opacity:0.6;
}

#sm{
	color: white;
    clear: both;
    padding-top: 50px;
    font-family: arial;
    text-align: center;
    font-size: inherit;
}

#m-sf{
	color: #999999;
    font-family: arial;
    margin-bottom: 2px;
    font-weight: 700;
    font-size: 12px;
}

.sf-description{
	text-align: center;
    padding-top: 37px;
}


#media-info{
	font-family:arial;
	    text-align: center;
}

#media-info p{
	display:inline-block;
	    margin-right: 40px;
}

#media-info a{
	text-decoration:none;
	color:#0255a5;
	font-size: 0.7em;
	    margin-right: 40px;
}

#mc img{
	display:inline-block;
	margin:-2px;
	}

#mc{
	width:2395px;
	    height: 232px;
}	

#hidd{
	height: 228px;
    width: 1349px;
    width:100%;
	overflow: hidden;
}

#mc div{
	display:inline-block;
}

#le{
	display: inline-block; 
    position: relative;
    top: 142px;
    left: 90px;
    z-index: 2;
    color: white;
    background-color: gray;
    opacity: 0.7;
    padding: 24px;
    z-index: 4;
    /* float: left; */
}

#ri{
	float: right;
    position: relative;
    right: 7%;
    bottom: 140px;
    z-index: 2;
    color: white;
    /* width: 15px; */
    background-color: gray;
    opacity: 0.7;
    padding: 24px;
}

.count{
	font-weight:bold !important ;
	font-size:1.5em !important;
}


.hideplay{
	display:none;
}

.showplay{
	display:block;
}

.play{
	    display: inline-block;
    width: 538px;
    position: relative;
}

.playsmall{
	    display: inline-block;
    width: 226px;
    position: relative;
}

.playbutton{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
	top: 35%;
}

.bluehover{
	z-index:4;
}

.bluehover:hover{
	background-color:#245582;
	opacity:0.9;
}

#ads{
	padding-top: 65px;
    padding-bottom: 65px;
	background-color:#F0F0F0;
	height: 430px;
	margin-top: -8px;
    margin-bottom: -8px;
	text-align:center;
}

.ad{
	float:left;
	padding-right: 16px;
}

#ad-mobile{
	display:none;
	padding-top: 25px;
    background-color: #EBEBEB;
	padding-bottom: 22px;
}

.ad-mobile-img{
	text-align: center;
    padding-bottom: 10px;
}

#social{
	text-align:center;
	background-color: #E6E6E6;
    height: 90px;
    padding-top: 35px;
}

#social a{
	/*float:left; imp*/
	padding:20px;
	opacity:0.3;
}

#social a:hover{
	opacity:0.6;
}

#sitemap{
	padding-top: 33px;
	background-color:#E6E6E6;
	background-color: #E6E6E6;
    height: 320px;
	/*margin-bottom: -8px;
	padding-left: 170px;
	margin-top: -8px;*/
}

.items ul li{
	text-decoration:none;
	list-style:none;
	padding: 4px;
}

.items ul{
	text-align: left;
}

.items a{
	text-decoration:none;
	list-style:none;
	font-family:arial;
	color:#999999;
	font-size: 0.83em;
}

.items{
	/*float:left;*/
	display: inline-block;
	vertical-align: top;
	padding-right: 24px;
}

.items span{
	font-family:oswald;
}

.items a:hover{
	color:black;
}

.items:hover{
	background-color:#E0E0E0;
}

#mobile-sitemap{
	display:none;
	color:#999999;
	font-family:oswald;
	background-color: #E6E6E6;
    height: 100px;
}

.mobile-sitemap-wrapper{
	text-align:center;
	padding-top: 35px;
	font-size: initial;
}

#sponsors{
	background-color: #E6E6E6;
    padding-top: 75px;
    min-height: 550px;
}

.brand1{	
	/* padding-left: 456px;*/
	text-align: center;
	    padding-bottom: 25px;
}
.brand1 a{
	padding-right: 36px;
}

.brand2{	
	        text-align: center;
			    padding-bottom: 25px;
}
.brand2 a{
	padding-right: 21px;
}


.brand3{	
       /*padding-left: 10.5%;*/
	   text-align: center;
	       padding-bottom: 15px;
}
.brand3 a{
	padding-right: 21px;
}

.brand4{	
       /*padding-left: 10.5%;*/
	   text-align: center;
	   padding-bottom: 39px;
	   
}
.brand4 a{
	padding-right: 21px;
}

#last{
	background-color: #E6E6E6;
	height: 41px;
	text-align:center;
}

#last p{
	font-family: arial;
    font-size: small;
	padding-top: 11px;
}

hr{
	border-color: #989FA6;
	margin: 0;
    clear: both;
}

img.ds{
	-webkit-filter: grayscale(1);
	-webkit-filter: grayscale(100%);
	filter: url(#greyscale);
	filter: gray;
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
  
.row{
	margin:0 !important;
}  
/*-------------------------------------------------------------------------------*/
@media screen and (max-width: 1024px) {
	#fr {
		width: 33%;
	}
	
	#fl {
		width: 67%;
	}
	
	#share {	

	}
	
	.fixtures-share {
		bottom: -1px;
	}
}


@media only screen and (max-width: 1010px) and (min-width: 768px){
#overflow{
		max-width: 580px;
	}
}

@media screen and (max-width: 965px) {
	.mobile-hide {
		display:none !important;
	}
	
	.mob-navbar{
		display:block;
	}
	
	#fixture {
		width: 96%;
		left: 0%;
		margin-left: 2%;
		margin-top: 15px;
		min-height: 336px;
	}
	
	#fl {
		width: 80%;
	}
	
	#rightteam p {
		/*top: 6px;
		left: 253px;
		display: inline-block;*/
	}
	
	#rightteam img {
		/*margin-top: -6px;
		margin-left: 30px;*/
	}
	
	#rightteam-details{
		    text-align: center;
	}
	
	#teams {
		max-width: 688px;
	}

	
	#rightteam a p {
		position: relative;
		top: 120px;
		left: 5%;
	}
	
	#share {
		
	}
	
	#fixture-time{
		clear: both;
		padding-top: 12px;
	}
	
	.fixtures-share{
		bottom: -2px;
	}
	
	.mobile_hide  {
		display:none;
	}
	
	#highlightsbanner{
		margin-top: 55px;
	}
	
	#mobile-topbar{
		display:block;
		position: fixed;
		width: 100%;
		margin-top: -55px;
		background-color: white;
		z-index: 1;
		border-bottom: 1px solid #d4d4d4;
	}
	
	.section {
		margin-top: 0px;
	}
	
	.news{
		margin-top: 15px;
	}
	
	#mobile-calendar{
		display:block;
	}
	
	#leftrow {
		width: 96.7%;
		margin-left: 18px;
	}
	
	#mobile-legends{
		display:block;
		height: 770px;
	}
	
	#mobile-specialfeatures{
		display:block;
		height: 585px;
	}
	
	#sm{
		padding-top: 1px;
	}
	
	.leg{
		padding-top: 0px;
	}
	
	#ad-mobile{
		display:block;
	}
	
	#mobile-sitemap{
		display:block;
	}
}

@media screen and (max-width: 768px){
	
	#highlightsbanner  img{
		height:300px !important;
	}
	
	#teams {
		max-width: 100%;
	}
	
	#fl{
		width:100% !important;
	}
	
	#overflow{
		max-width: 140px;
	}
	
	.fa-left {
		position: inherit;
	}	
}

@media screen and (max-width:575px){
	
	#highlightsbanner img {
		height: 225px !important;
	}

	.brand1, .brand2, .brand3, .brand4  {
		padding-bottom: 0px;
	}
}



@media screen and (max-width: 530px){
	
	.news-margin{
		margin-left:15px;
	}
	
	#leftrow {
		width:95%;
	}
	
	#mobile-sitemap {
		height: 136px;
	}
}


@media screen and (max-width: 470px){
	#matchday-details {
		margin-top: 7px;
	}
	
	#rightteam-mobile{
		display:block;
	}
	
	#rightteam{
		display:none;
	}
	
	#leftteam p {
		display: block;
	}
	
	#fixture{
		min-height: 390px;
	}
}

@media screen and (max-width: 425px){
	
	#highlightsbanner img {
		height: 150px !important;
	}
	
	.news-margin{
		margin-left:0px;
	}
	
	.news {
		width: 96.7%;
	}
	
	#leftrow {
		width:95%;
	}
	
	#social a {
		padding: 15px;
	}
	
}


@media screen and (max-width: 320px){
	
	#highlightsbanner img {
		height: 125px !important;
	}
	
	.news-margin{
		margin-left:0px;
	}
	
	#leftrow {
		width:94%;
	}
}